/* src/CSS/CreateEhr.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Add waves pattern to the background */
body {
  background-color: #1a202c; /* #1c3b59 Dark background color #1a202c */

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
